<mat-dialog-actions class="flex-row-reverse" [style.marginBottom]="'1em'">
    <button class="col-md-4" mat-flat-button color="primary" mat-dialog-close>salir</button>
</mat-dialog-actions>

<div class="row">
    <mat-divider></mat-divider>
</div>

<mat-dialog-content class="flex-row" [style.width]="innerWidths">
    <div class="col-md-12">
        <div class="row">
            <mat-card [style.width]="'100%'" *ngFor="let menu of menusList">
                <mat-card-title class="text-center">
                    <button class="col-md-12" mat-flat-button (click)="redirigirMenu(menu.ruta)">{{menu.nombre}}</button>
                </mat-card-title>
            </mat-card>
        </div>
    </div>
</mat-dialog-content>